/.project
/.idea/
/admin/package-lock.json
/udf-starter/udf-starter.iml
/udf-starter/udf-starter-core/target/
/udf-starter/udf-starter-core/udf-starter-core.iml
/udf-starter/udf-starter-datasource-dynamic/udf-starter-datasource-dynamic.iml
/udf-starter/udf-starter-datasource-dynamic/target/
/udf-starter/udf-starter-process-activiti/udf-starter-process-activiti.iml
/udf-starter/udf-starter-process-activiti/target/
/udf-starter/udf-starter-cache-db/udf-starter-cache-db.iml
/udf-starter/udf-starter-cache-db/target/
/udf-starter/udf-starter-file-db/target/
/udf-starter/udf-starter-file-db/udf-starter-file-db.iml
/udf-starter/udf-starter-queue-db/target/
/udf-starter/udf-starter-ws/udf-starter-ws.iml
