<!doctype html>
<html>
<header th:replace="common::head(title='ITKK首页')"></header>
<style lang="css">

</style>
<body>
<div th:include="common::top"></div>
<div class="main pre-scrollable">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">网站正在建设中</h1>
        </div>
    </div>
</div>
<div th:include="common::bottom"></div>
<div th:include="common::footer"></div>
</body>
<script type="text/javascript">
    //页面加载完成
    $(document).ready(function () {
        //下拉刷新
        $('body').on('pullReload', function (e) {
            openLoading();
            window.location.reload();
        });
    });
</script>
</html>