<!doctype html>
<html>
<header th:replace="common::head(title='ITKK登陆')"></header>
<style lang="css">
    .registered-card {
        min-width: 300px;
        max-width: 400px;
        margin: auto !important;
    }
</style>
<body>
<div th:include="common::top"></div>
<div class="main pre-scrollable">
    <div class="card registered-card">
        <div class="card-body">
            <form class="registered-form">
                <div class="form-group">
                    <label for="userId">用户名</label>
                    <input type="text" class="form-control form-control-lg" id="userId">
                </div>
                <div class="form-group">
                    <label for="pswd">密码</label>
                    <input type="password" class="form-control form-control-lg" id="pswd">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success login-btn float-left">登陆</button>
                    <button type="button" class="btn btn-link registered-btn float-right">还没有账号? 点这里注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="common::bottom"></div>
<div th:include="common::footer"></div>
</body>
<script type="text/javascript">
    //页面加载完成
    $(document).ready(function () {
        //下拉刷新
        $('body').on('pullReload', function (e) {
            openLoading();
            window.location.reload();
        });
        //注册按钮点击事件
        $('.registered-btn').on('click', function () {
            //跳转到注册
            window.location.href = '/registered.html';
        });
        //注册按钮点击事件
        $('.login-btn').on('click', function () {
            //构造参数
            var param = {
                userId: $('#userId').val(),
                pswd: $('#pswd').val()
            };
            //请求
            $.ajax({
                url: '/api/udf/web/public/rbac/user/login',
                type: 'POST',
                async: true,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(param),
                success: function (data) {
                    if (data.result) {
                        if ('[(${redirectUrl})]') {
                            window.location.href = '[(${redirectUrl})]';
                        } else {
                            window.location.href = '/';
                        }
                    }
                }
            });
        });
    });
</script>
</html>