.el-container {

  .el-aside {
    color: #333;
  }

  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
    text-align: right;
    font-size: 12px;
  }

  .el-main {

  }

}
